{% extends "layout.html" %}

{% block body %}

<div class="container my-5">
    <div class="row" id="getview">
        <div class="col-md-6 my-3">
            <div class="row">
                <img src="/static/image_file/kitkat.jpg" width="500px" height="398px">
            </div>
        </div>
        <div class="col-md-6 my-3">
            <h5 id="product-name" style="font-size: 35px;"></h5>
            <p id="product-price"></p>
            <p id="product-description"></p>
            <div class="">
                <button class="btn btn-primary my-3">Buy Now</button>
                <button class="btn btn-primary my-3 mx-3 ">Add to Cart</button>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/grocery.js"></script>
{% endblock %}